AuthService/HELP.md
AuthService/.gradle
AuthService/.idea
AuthService/build/
AuthService/!gradle/wrapper/gradle-wrapper.jar
AuthService/.gitignore
AuthService/!**/src/main/**/build/
AuthService/!**/src/test/**/build/

### STS ###
AuthService/.apt_generated
AuthService/.classpath
AuthService/.factorypath
AuthService/.project
AuthService/.settings
AuthService/.springBeans
AuthService/.sts4-cache
AuthService/bin/
AuthService/!**/src/main/**/bin/
AuthService/!**/src/test/**/bin/

### IntelliJ IDEA ###
AuthService/.idea
AuthService/*.iws
AuthService/*.iml
AuthService/*.ipr
AuthService/out/
AuthService/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


#EventService
EventService/HELP.md
EventService/.gradle
EventService/.idea
EventService/.gitignore
EventService/build/
EventService/.git
EventService/gradlew.bat
EventService/!gradle/wrapper/gradle-wrapper.jar
EventService/!**/src/main/**/build/
EventService/!**/src/test/**/build/

### STS ###
EventService/.apt_generated
EventService/.classpath
EventService/.factorypath
EventService/.project
EventService/.settings
EventService/.springBeans
EventService/.sts4-cache
EventService/bin/
EventService/!**/src/main/**/bin/
EventService/!**/src/test/**/bin/

### IntelliJ IDEA ###
EventService/.idea
EventService/*.iws
EventService/*.iml
EventService/*.ipr
EventService/out/
EventService/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


#MailService
MailService/HELP.md
MailService/.gradle
MailService/.idea
MailService/.mvn
MailService/.gitignore
MailService/mvnw.cmd
MailService/build/
MailService/!gradle/wrapper/gradle-wrapper.jar
MailService/!**/src/main/**/build/
MailService/!**/src/test/**/build/

### STS ###
MailService/.apt_generated
MailService/.classpath
MailService/.factorypath
MailService/.project
MailService/.settings
MailService/.springBeans
MailService/.sts4-cache
MailService/bin/
MailService/!**/src/main/**/bin/
MailService/!**/src/test/**/bin/

### IntelliJ IDEA ###
MailService/.idea
MailService/*.iws
MailService/*.iml
MailService/*.ipr
MailService/out/
MailService/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/



#RecomandationService
RecomandationService/HELP.md
RecomandationService/.gradle
RecomandationService/.idea
RecomandationService/.mvn
RecomandationService/gradlew.bat
RecomandationService/.gitignore
RecomandationService/build/
RecomandationService/!gradle/wrapper/gradle-wrapper.jar
RecomandationService/!**/src/main/**/build/
RecomandationService/!**/src/test/**/build/

### STS ###
RecomandationService/.apt_generated
RecomandationService/.classpath
RecomandationService/.factorypath
RecomandationService/.project
RecomandationService/.settings
RecomandationService/.springBeans
RecomandationService/.sts4-cache
RecomandationService/bin/
RecomandationService/!**/src/main/**/bin/
RecomandationService/!**/src/test/**/bin/

### IntelliJ IDEA ###
RecomandationService/.idea
RecomandationService/*.iws
RecomandationService/*.iml
RecomandationService/*.ipr
RecomandationService/out/
RecomandationService/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


#ScrapingService

ScrappingService/HELP.md
ScrappingService/.gradle
ScrappingService/.idea
ScrapingService/.mvn
ScrappingService/.gitignore
ScrappingService/mvnw.cmd
ScrappingService/build/
ScrappingService/!gradle/wrapper/gradle-wrapper.jar
ScrappingService/!**/src/main/**/build/
ScrappingService/!**/src/test/**/build/

### STS ###
ScrappingService/.apt_generated
ScrappingService/.classpath
ScrappingService/.factorypath
ScrappingService/.project
ScrappingService/.settings
ScrappingService/.springBeans
ScrappingService/.sts4-cache
ScrappingService/bin/
ScrappingService/!**/src/main/**/bin/
ScrappingService/!**/src/test/**/bin/

### IntelliJ IDEA ###
ScrappingService/.idea
ScrappingService/*.iws
ScrappingService/*.iml
ScrappingService/*.ipr
ScrappingService/out/
ScrappingService/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


#SearchService

SearchService/HELP.md
SearchService/.gradle
SearchService/.idea
SearchService/.mvn
SearchService/.gitignore
SearchService/gradlew.bat
SearchService/build/
SearchService/!gradle/wrapper/gradle-wrapper.jar
SearchService/!**/src/main/**/build/
SearchService/!**/src/test/**/build/

### STS ###
SearchService/.apt_generated
SearchService/.classpath
SearchService/.factorypath
SearchService/.project
SearchService/.settings
SearchService/.springBeans
SearchService/.sts4-cache
SearchService/bin/
SearchService/!**/src/main/**/bin/
SearchService/!**/src/test/**/bin/

### IntelliJ IDEA ###
SearchService/.idea
SearchService/*.iws
SearchService/*.iml
SearchService/*.ipr
SearchService/out/
SearchService/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

#WishlistService
WishlistService/HELP.md
WishlistService/.gradle
WishlistService/.idea
WishlistService/.mvn
WishlistService/mvnw.cmd
WishlistService/.gitignore
WishlistService/build/
WishlistService/!gradle/wrapper/gradle-wrapper.jar
WishlistService/!**/src/main/**/build/
WishlistService/!**/src/test/**/build/

### STS ###
WishlistService/.apt_generated
WishlistService/.classpath
WishlistService/.factorypath
WishlistService/.project
WishlistService/.settings
WishlistService/.springBeans
WishlistService/.sts4-cache
WishlistService/bin/
WishlistService/!**/src/main/**/bin/
WishlistService/!**/src/test/**/bin/

### IntelliJ IDEA ###
WishlistService/.idea
WishlistService/*.iws
WishlistService/*.iml
WishlistService/*.ipr
WishlistService/out/
WishlistService/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/



#dsService
DsService/HELP.md
DsService/denv
DsService/dist
DsService/src/.env

#frontend
HappenHub_FrontEnd/node_modules

#jars
jars/.